@font-face {
    font-family: 'Inter';
    src: url('../style/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
  }
  


.Title{
    position: relative;
    width: 269px;
    height: 58px;
    left: 37px;
    top: 63px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 28px;
    /* or 108% */


    color: #000000;

}

.Mensaje{
    position: absolute;
    width: 232px;
    height: 56px;
    left: 74px;
    top: 305px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    /* or 147% */

    text-align: center;

    color: #000000;
}

.Temporizador {
    box-shadow: -1px 5px 5px darkgrey;
    margin-top: 35px;
    position: relative;
    width: 279px;
    height: 216px;
    left: 47px;
    top: 104px;
    background: #FFFFFF;
    border: 1px solid #5E5BFF;
    border-radius: 15px;
}

.Temporizador .row {
    margin-top: 30px;
}

.TempTitle {
    position: relative;
    width: 254px;
    height: 51px;
    left: -4px;
    top: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}